.cut{
    text-decoration: line-through;
}
*{
    padding: 0;

}
.container{
    background-color: black;
    width: 1000px;
   


    height: fit-content;
padding-bottom: 10px;
padding-top: 10px;
display: flex;
flex-direction: column;
margin-left: 15%;
}
.heading{
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;




}

.form{
    margin-left: 35%;
}
#inp{
    border-radius: 20px;
    width: 50%;
    padding: 20px 20px;
}
#subbtn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#subbtn:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 1.1s;
}

.tasklist{
    margin-left: 40%;
    font-weight: 200;
    font-size: 2em;


}

.listitem{
    color: aliceblue;
    padding-bottom: 5px;

}

.up{
   
    size: 20px;
    font-size: 1em;
    width: 40px;
}
.up:hover{
    scale: 1.3;
    transition: 0.4s;
}
.down{
    font-size: 1em;
    width: 40px;

}
.down:hover{
    scale: 1.3;
    transition: 0.4s;
}
.delete{
    font-size: 1em;
    

}
.delete:hover{
  
   scale: 1.1;
   transition: 0.4s;
   
    
}

.complete{
    width:20px;
    height: 20px;
}
.img{
    height: 300px;
    
   
}